
<div class="container">
  <div class="row">
    <div class="col" [style]="{'padding-top': '1em'}">
      <p-card header="Kalkulator wynagrodzeń" [style]="{'margin-bottom': '2em'}">
        <div class="alert alert-danger" role="alert" *ngIf="errors">
          Uzupełnij obowiązkowe pola oznaczone * aby otrzymać wynik.
        </div>
        <div class="pole-formularza">
          <label class="parametry-formularza label-required" for="contractsType"> Rodzaj umowy: </label>
          <p-dropdown
            [options]="contractsType"
            [(ngModel)]="basedParameters.contractType"
            (onChange)="obliczKwoty()"
            placeholder="Wybierz..."
          ></p-dropdown>
        </div>
        <div class="pole-formularza">
          <label class="parametry-formularza label-required" for="taxYears"> Rok podatkowy: </label>
          <p-dropdown
            [options]="taxYears"
            [(ngModel)]="basedParameters.taxYear"
            (onChange)="obliczKwoty()"
            placeholder="Wybierz..."
          ></p-dropdown>
        </div>
        <div *ngIf="basedParameters.contractType=='Umowa o Pracę'">
            <app-umowa-oprace></app-umowa-oprace>
        </div>
        <div *ngIf="basedParameters.contractType=='Działalnośc Gospodarcza'">
          <app-dzialanosc></app-dzialanosc>
        </div>

        </p-card>
    </div>
    <div class="col"  [style]="{'padding-top': '1em'}">
      <p-card header="Podsumowanie" [style]="{'width': '35rem', 'margin-bottom': '2em'}">
          <div *ngIf="basedParameters.contractType=='Umowa o Pracę'">
            <app-uop-summary></app-uop-summary>
        </div>
        <div *ngIf="basedParameters.contractType=='Działalnośc Gospodarcza'">
          <app-dzialalnosc-summary></app-dzialalnosc-summary>
        </div>
    </p-card>
    </div>
  </div>
<br/>
<div>
  <p-tabView *ngIf="basedParameters.contractType=='Umowa o Pracę'">
      <p-tabPanel header="Miesięczne koszty">
        <p-table [value]="contributions" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th rowspan="3">Składki ZUS</th>
              </tr>
              <tr>
                  <th colspan="2">Pracownik</th>
                  <th colspan="2">Pracodawca</th>
              </tr>
              <tr>
                  <th>Wysokość składki w %</th>
                  <th>Kwota</th>
                  <th>Wysokość składki w %</th>
                  <th>Kwota</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-contribution>
              <tr>
                  <td>{{contribution.contribution}}</td>
                  <td>{{contribution.employeePart}} %</td>
                  <td>{{contribution.employeeValue}} zł</td>
                  <td>{{contribution.employerPart}} %</td>
                  <td>{{contribution.employerValue}} zł</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="footer">
              <tr>
                  <td colspan="1" class="text-right">Razem</td>
                  <td>{{totalEmployeePart}} %</td>
                  <td>{{razemPracownikZUS}} zł</td>
                  <td>{{totalEmployerPart}} %</td>
                  <td>{{razemPracodawcaZUS}} zł</td>
              </tr>
          </ng-template>
      </p-table>
      <br/>
      <p-table responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="3">Składka NFZ</th>
            </tr>
            <tr>
                <th>Podstawa opodatkowania</th>
                <th>Wysokość składki w %</th>
                <th>Kwota</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="1" class="text-right"></td>
            <td>{{healthyContributions.baseOfHealthyContribution}} zł</td>
            <td>{{healthyContributions.employeePart}} %</td>
            <td>{{healthyContributions.employeeValue}} zł</td>
        </tr>
        </ng-template>
      </p-table>
      <br/>
      <p-table *ngIf="basedParameters.isPPK" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="3">PPK</th>
            </tr>
            <tr>
                <th>Składka pracownika</th>
                <th>Składka pracodawcy</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
              <tr>
                  <td></td>
                  <td>{{ppkParameters.ppkEmployeeAmount}} zł</td>
                  <td>{{ppkParameters.ppkEmployerAmount}} zł</td>
              </tr>
          </ng-template>
      </p-table>
      <br/>
      <p-table responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="3">Podatek</th>
            </tr>
            <tr>
                <th>Koszt uzyskania przychodu</th>
                <th *ngIf="basedParameters.taxYear == 2022">Ulga klasy średniej</th>
                <th>Podstawa opodatkowania</th>
                <th>Obliczony podatek</th>
                <th>Kwota wolna od podatku</th>
                <th *ngIf="basedParameters.taxYear == 2021">Część składki zdrowotnej do odliczenia</th>
                <th>Zaliczka na podatek</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td></td>
                <td>{{taxContributions.incomeCost}} zł</td>
                <td *ngIf="basedParameters.taxYear == 2022">{{taxContributions.middleClassRelief}} zł</td>
                <td>{{taxContributions.baseOfTax}} zł</td>
                <td>{{taxContributions.tax}} zł</td>
                <td>{{taxContributions.taxFreeAmount}} zł</td>
                <td *ngIf="basedParameters.taxYear == 2021">{{taxContributions.taxFreeHealthyPart}} zł</td>
                <td>{{taxContributions.advanceTax}} zł</td>
            </tr>
        </ng-template>
      </p-table>
      </p-tabPanel>
      <p-tabPanel header="Rozliczenie roczne pracownika">
        <p-table [value]="months" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th rowspan="2">Miesiąc</th>
                  <th rowspan="2">Kwota brutto</th>
                  <th rowspan="1" colspan="4" class="text-center" >Ubezpiecznie</th>
                  <th rowspan="2">Podstawa opodatkowania</th>
                  <th rowspan="2">Zaliczka na podatek</th>
                  <th rowspan="2" *ngIf="basedParameters.isPPK">PPK</th>
                  <th rowspan="2">Kwota netto</th>
              </tr>
              <tr>
                  <th>Emerytalne</th>
                  <th>Rentowe</th>
                  <th>Chorobowe</th>
                  <th>Zdrowotne</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-months>
              <tr>
                  <td>{{months.month_string}}</td>
                  <td class="text-center">{{basedParameters.grossIncome}}</td>
                  <td class="text-center">{{getMonthlyPensionPart(months.month_number)}}</td>
                  <td class="text-center">{{getMonthlyDisabilityPart(months.month_number)}}</td>
                  <td class="text-center">{{skChorobowaPracownik}}</td>
                  <td class="text-center">{{healthyContributions.employeeValue}}</td>
                  <td class="text-center">{{taxContributions.baseOfTax}}</td>
                  <td class="text-center">{{taxContributions.advanceTax}}</td>
                  <td class="text-center" *ngIf="basedParameters.isPPK">{{ppkParameters.ppkEmployeeAmount}}</td>
                  <td class="text-center">{{basedParameters.netIncome}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="footer" let-months>
              <tr>
                  <td colspan="1" class="text-right">Razem</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(basedParameters.grossIncome)}} zł</td>
                  <td class="text-center">{{getPensionYearsPart()}} zł</td>
                  <td class="text-center">{{getDisabilityYearsPart()}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(skChorobowaPracownik)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(healthyContributions.employeeValue)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(taxContributions.baseOfTax)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(taxContributions.advanceTax)}} zł</td>
                  <td class="text-center" *ngIf="basedParameters.isPPK">{{dajRocznaKwoteSkladki(ppkParameters.ppkEmployeeAmount)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(basedParameters.netIncome)}} zł</td>
              </tr>
          </ng-template>
      </p-table>
      </p-tabPanel>
      <p-tabPanel header="Rozliczenie roczne pracodawcy">
        <p-table [value]="months" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th rowspan="2">Miesiąc</th>
                  <th rowspan="2">Kwota brutto</th>
                  <th rowspan="1" colspan="3" class="text-center" >Ubezpiecznie</th>
                  <th rowspan="2">Suma składek ZUS </th>
                  <th rowspan="2">Fundusz pracy</th>
                  <th rowspan="2">FGŚP</th>
                  <th rowspan="2" *ngIf="basedParameters.isPPK">PPK</th>
                  <th rowspan="2">Całkowity koszt pracodawcy</th>
              </tr>
              <tr>
                  <th>Emerytalne</th>
                  <th>Rentowe</th>
                  <th>Wypadkowe</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-months>
              <tr>
                  <td>{{months.month_string}}</td>
                  <td class="text-center">{{basedParameters.grossIncome}}</td>
                  <td class="text-center">{{getMonthlyPensionPart(months.month_number)}}</td>
                  <td class="text-center">{{skRentowaPracodawca}}</td>
                  <td class="text-center">{{skWypadkowaPracodawca}}</td>
                  <td class="text-center">{{razemPracodawcaZUS}}</td>
                  <td class="text-center">{{employerContributions.labourFund}}</td>
                  <td class="text-center">{{employerContributions.fgsp}}</td>
                  <td class="text-center" *ngIf="basedParameters.isPPK">{{ppkParameters.ppkEmployerAmount}}</td>
                  <td class="text-center">{{basedParameters.totalEmployerCosts}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="footer">
              <tr>
                  <td colspan="1" class="text-right">Razem</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(basedParameters.grossIncome)}} zł</td>
                  <td class="text-center">{{getPensionYearsPart()}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(skRentowaPracodawca)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(skWypadkowaPracodawca)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(razemPracodawcaZUS)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(employerContributions.labourFund)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(employerContributions.fgsp)}} zł</td>
                  <td class="text-center" *ngIf="basedParameters.isPPK">{{dajRocznaKwoteSkladki(ppkParameters.ppkEmployerAmount)}} zł</td>
                  <td class="text-center">{{dajRocznaKwoteSkladki(basedParameters.totalEmployerCosts)}} zł</td>
              </tr>
          </ng-template>
      </p-table>
      </p-tabPanel>
  </p-tabView>
</div>


</div>

